@body-bg: #eaeff5;
@body-bg-started: #afd;
@myDiv-fg: #aaa;
html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: @body-bg;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#root{
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.main-window{
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;

  > div {
    font-size: 12px;
  }

  &.green{
    background-color: @body-bg-started;
  }
}
h6{
  margin: 0px 20px 10px 20px;
}
.settings-icon{
  position: fixed;
  top: 0;
  right: 35px;
  cursor: pointer;
}

.report-icon{
  position: fixed;
  top: 0;
  right: 54px;
  cursor: pointer;
}

.month-report-icon{
  position: fixed;
  top: 0;
  right: 74px;
  cursor: pointer;
}

.debug-icon{
  position: fixed;
  top: 0;
  right: 88px;
  cursor: pointer;
}
.new-task {
  width: 180px;
}

.task-name{
  border: solid 1px #a0d8a0;
  padding: 5px;
  margin: 0px;
  font-size: 12px;
}

.href{
  color: #000085;
  cursor: pointer;
  &:hover{
    color: #0c9cff;
    text-decoration: underline;
  }
}

.nothref{
  color: #000000;
  cursor: text;
  &:hover{
    color: #000000;
    text-decoration: none;
  }
}

.quick-start{
  font-size: 9px;
  display: inline-block;
  margin: 2px 3px;
}

.day{
  margin: 5px 0;
  border: solid 1px #0c9cff;
  margin-bottom: 25px;
  background: #0a4d8d;
  font-size: 14px;

  > b{
    color: #0c9cff;
  }

  > i{
    display: inline-block;
    padding-left: 50px;
    color: #00e6ff;
    font-size: 14px;
  }

  .tasks-list{
    background: #F0FEFE;
    min-height: 50px;
  }

  .task{
    border: solid 1px #c3d9ff;
    overflow: hidden;
    padding: 2px;

    &.empty{
      display: none;
    }

    &.logged{
      background: #efefef;

      &.empty{
        display: block;

        
        .ticket{
          color: #555;
        }
        .activity{
          color: #555;
        }
        .startAt{
          color: #555;
        }
        .stopAt{
          color: #555;
        }
        .seconds{
          color: #555;
        }
        .link{
          color: #555;
        }
      }

      .buttons{
        background: none;
      }
      .name{
        .nothref();
      }
      .ticket{
        .nothref();
        color: #737373;
      }
      .activity{
        .nothref();
      }
      .startAt{
        .nothref();
      }
      .stopAt{
        .nothref();
      }
      .seconds{
        background: none;
      }
    }

    .logged-text {
      font-size: 10px;
    }

    .buttons{
      float: right;
      width: 18%;
      min-height: 32px;
      background: #c3d9ff;
      font-size: 7px;

      button {
        padding: 1px 2px;
        font-size: 9px;

      }
    }

    .ticket {
      font-weight: bold;
      font-size: 11px;
      height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      float: left;
      min-width: 200px;
      max-width: 78%;
      .href();
    }
    .activity {
      font-weight: bold;
      font-size: 11px;
      min-height: 10px;
      cursor: pointer;
      float: left;
      min-width: 200px;
      width: 78%;
      .href();
      color: #b36191;
    }
    .link{
      font-size: 10px;
      min-height: 10px;
      width: 66px;
      float: left;
      color: #000085;
      cursor: pointer;
      .href();
      overflow: hidden;
      white-space: nowrap;
      text-align: right;
      text-overflow: ellipsis;
    }
    .seconds{
      float: left;
      width: 24%;
      min-height: 10px;
      font-size: 10px;
      background: #ebf9f9;
      color: #3987ef;
    }
    .startAt{
      float: left;
      width: 24%;
      min-height: 10px;
      font-size: 10px;
      cursor: pointer;
      .href();
    }
    .stopAt{
      float: left;
      width: 24%;
      min-height: 10px;
      font-size: 10px;
      cursor: pointer;
      .href();
    }
  }
}


.modal{
  display: none;
  background: RGBA(0, 10, 30, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.in {
    display: block;
  }

  .modal-body{
    width: 80%;
    height: 80%;
    position: absolute;
    background: #e6f5f7;
    left: 10px;
    top: 40px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;

    .close{
      position: absolute;
      right: 0;
      top: 0;
      border: solid 1px #EEEEFE;
      background: #FEFEFF;
      color: #0290aa;
      padding: 2px 6px;
    }
  }
}

.settings-modal{

  .setting{
    overflow: hidden;
    padding: 0;
    margin: 3px 0;

    .name{
      font-size: 10px;
    }
    .value{

      input{
        display: inline-block;
        width: 93%;
      }

      textarea{
        display: inline-block;
        width: 93%;
        height: 40px;
      }
    }
  }
}

.edit-desc-modal{
  .ticket-name {
    color: #000;
    font-weight: bold;
    position: relative;
  }
  .close-button{
    position: absolute;
    right: 4px;
    top: 0;
    display: inline-block;
    border: solid 1px #555;
    background: #eee;
    color: #000;
    padding: 1px 4px;
    cursor: pointer;
    margin: 0 4px;
  }
  .input {
    width: 90%;
    height: 80px;
  }
}
.edit-time-modal{
  input {
    width: 90%;
  }
}

.add-work-log-other-modal{
  button{
    display: inline-block;
    width: 90%;
    line-height: 30px;
    margin: 20px 0;
  }
}

.report-modal{

  .report-view{
    width: 100%;
    overflow: auto;
    background: #fff;
    color: #000;
    min-height: 300px;
    max-height: 70%;
  }
}